/* Project Summary */
.summary-content {
    margin-top: 15px;
}

.project-reward {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: #ff9800;
    margin: 15px 0;
}

.project-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.detail-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    width: 30px;
    height: 30px;
    background-color: rgba(67, 97, 238, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-label {
    font-size: 0.8rem;
    color: var(--gray-color);
    display: block;
}

.detail-value {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color);

    white-space: nowrap;      /* une seule ligne */
  overflow: hidden;         /* cacher le texte qui déborde */
  text-overflow: ellipsis;  /* afficher "..." */
  max-width: 200px;         /* largeur max à adapter */
  display: inline-block;  
}

.detail-value a {
    color: var(--primary-color);
    text-decoration: none;
}

.detail-value a:hover {
    text-decoration: underline;
}

.loading, .error, .no-data {
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
  color: #555;
}