<!-- Project Tabs -->
<nav class="project-tabs">
  <ul>
    <li *ngFor="let tab of availableTabs"
        [class.active]="activeTab === tab.id">
      <a (click)="setTab(tab.id)">
        <i class="fas {{tab.icon}}"></i> {{tab.label}}
      </a>
    </li>
  </ul>
</nav>

<!-- Contenu des tabs -->
<div class="project-content">
  <app-apercu-tab *ngIf="activeTab === 'overview' && isTabVisible('overview')"></app-apercu-tab>
  <app-taches-tab *ngIf="activeTab === 'tasks' && isTabVisible('tasks')"></app-taches-tab>
  <app-equipes-details-tab *ngIf="activeTab === 'team' && isTabVisible('team')"></app-equipes-details-tab>
  <app-discussion-details-tab *ngIf="activeTab === 'discussions' && isTabVisible('discussions')"></app-discussion-details-tab>
  <app-settings-tab *ngIf="activeTab === 'settings' && isTabVisible('settings')"></app-settings-tab>
</div>
